<?xml version="1.0"?>
<robot name="auv" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Global defaults (override via command line or launch) -->
  <xacro:property name="cube_size_x" value="1.0"/>
  <xacro:property name="cube_size_y" value="1.0"/>
  <xacro:property name="cube_size_z" value="1.0"/>
  <xacro:property name="cube_mass"   value="989.9"/>

  <!-- Camera parameters -->
  <xacro:property name="cam_box"        value="0.1 0.1 0.1"/>   <!-- visual box for camera_link -->
  <xacro:property name="cam_mount_xyz"  value="0.55 0 0"/>      <!-- front of 1m cube (+x) -->
  <xacro:property name="cam_mount_rpy"  value="0 0 0"/>
  <xacro:property name="cam_fov"        value="1.047"/>         <!-- ~60 deg -->
  <xacro:property name="cam_img_w"      value="640"/>
  <xacro:property name="cam_img_h"      value="480"/>
  <xacro:property name="cam_topic"      value="/cube/image_raw"/>
  <xacro:property name="cam_update_hz"  value="30"/>
  <xacro:property name="cam_visualize"  value="true"/>

  <!-- Plugins -->
  <xacro:property name="buoyancy_link"            value="cube_link"/>
  <xacro:property name="buoyancy_water_level"     value="0.0"/>
  <xacro:property name="buoyancy_fluid_density"   value="1000.0"/>
  <xacro:property name="buoyancy_volume"          value="1.0"/>
  <xacro:property name="wasd_link"                value="cube_link"/>
  <xacro:property name="wasd_topic"               value="auve1/force_body"/>

  <!-- Include modules -->
  <xacro:include filename="$(find auv_description)/urdf/cube/cube_link.xacro"/>

  <xacro:include filename="$(find auv_description)/urdf/cube/camera_module.xacro"/>
  <xacro:include filename="$(find auv_description)/urdf/cube/plugins.xacro"/>
  <xacro:include filename="$(find auv_description)/urdf/cube/lidar3d_module.xacro"/>


  <!-- Body -->
  <xacro:cube_base
    name="cube_link"
    size_x="${cube_size_x}" size_y="${cube_size_y}" size_z="${cube_size_z}"
    mass="${cube_mass}"/>

  <!-- Camera (front-mounted) -->
  <xacro:camera_module
    parent="cube_link"
    link_name="camera_link"
    optical_frame="camera_optical_frame"
    box="${cam_box}"
    mount_xyz="${cam_mount_xyz}"
    mount_rpy="${cam_mount_rpy}"
    horiz_fov="${cam_fov}"
    img_w="${cam_img_w}"
    img_h="${cam_img_h}"
    topic="${cam_topic}"
    update_rate="${cam_update_hz}"
    visualize="${cam_visualize}"/>
  
  <!-- 3D LiDAR pointing +X -->
  <xacro:lidar3d_module
  parent="cube_link"
  link_name="lidar_link"
  topic="/lidar/points"/>

  <!-- Plugins (buoyancy + WASD) -->
  <xacro:buoyancy_plugin
    link_name="${buoyancy_link}"
    water_level="${buoyancy_water_level}"
    fluid_density="${buoyancy_fluid_density}"
    volume="${buoyancy_volume}"/>

  <xacro:wasd_plugin
    link_name="${wasd_link}"
    topic="${wasd_topic}"/>

  <!-- Spawn pose below water -->
  <gazebo reference="cube_link">
    <pose>0 0 -1.0 0 0 0</pose>
  </gazebo>
</robot>
