<?xml version="1.0"?>
<robot name="plugins_module" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="buoyancy_plugin" params="link_name water_level fluid_density volume">
    <gazebo>
      <plugin filename="libsimple_buoyancy.so" name="gz::sim::systems::SimpleBuoyancy">
        <link_name>${link_name}</link_name>
        <water_level>${water_level}</water_level>
        <fluid_density>${fluid_density}</fluid_density>
        <volume>${volume}</volume>
      </plugin>
    </gazebo>
  </xacro:macro>

  <xacro:macro name="wasd_plugin" params="link_name topic">
    <gazebo>
      <plugin name="wasd_body_thrust_plugin" filename="libwasd_body_thrust_plugin.so">
        <link_name>${link_name}</link_name>
        <topic>${topic}</topic>
        <hold_ms>-1</hold_ms>
        <scale>1.0</scale>
        <force_scale>1.0</force_scale>
        <torque_scale>1.0</torque_scale>
      </plugin>
    </gazebo>
  </xacro:macro>

</robot>
